@model PickadosGenNHibernate.EN.Pickados.PlayerEN

@{
    ViewBag.Title = "Player Details";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-2">
        @Html.DropDownList("allCompetitions", null, new { @class = "form-control", id = "allCompetitions", required = "required" })
        @Html.DropDownList("allTeams", null, new { @class = "form-control", id = "allTeams", required = "required" })
    </div>
    <div class="col-md-10">
        <div class="col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-folder-close">
                                </span>Players
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                @foreach (var item in ViewBag.allPlayers)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink((string)@item.Name, "PlayerDetails", "Players", new { idCompeti = ViewBag.allCompetitions.SelectedValue, idTeam = ViewBag.allTeams.SelectedValue, idPlayer = @item.Id, }, new { @class = "list-group-item" })
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            @using (Html.BeginForm())
            {
                @*@Html.AntiForgeryToken()*@

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
            <!--<br>
            <div class="col-md-6">
                @*@Html.DropDownList("allTeams", null, new { @class = "form-control", id = "allTeams", required = "required" })*@
            </div>
            <div class="col-md-4">
                <a class="addCompeti" href="#">Añadir</a>
            </div>-->
            <br><br><br>
            <table class="table table-striped">
                <tr>
                    <th>
                        Team Name
                    </th>
                    <!--<th>
                        Actions
                    </th>-->
                </tr>
                @foreach (var item in ViewBag.teamByPlayer)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <!--<td>
                            <input type="button" id="deleteCompet" value="Eliminar" onclick="deleteTeam(@(item.Id))" />
                        </td>-->
                    </tr>
                }
            </table>

            <!--<div>
                @*@Html.ActionLink("Back to List", "Index")*@
            </div>-->
        </div>
    </div>

</div>

@section scripts {
    <script type="text/javascript">

                    $(document).ready(function () {
                        $('.addCompeti').on('click', function () {
                            var idNew = $('#allCompetis').val();
                            var team = $('#allTeams').val();
                            var idCompet = $('#allCompetitions').val();
                            location.href = '@Url.Action("AddCompeti", "Teams")?idNewCompet=' + idNew + '&idTeam=' + team + '&idCompeti=' + idCompet;
                        });

                        $("#allCompetitions").change(function () {
                            var url = $(this).val();
                            if (url != null && url != '') {
                                location.href = '@Url.Action("DetailsCompetition", "Competitions")?id=' + url;
                            }
                        });

                        $("#allTeams").change(function () {
                            var url = $(this).val();
                            var value = document.getElementById("allCompetitions").value;
                            if (url != null && url != '') {
                                location.href = '@Url.Action("DetailsTeam", "Teams")?idTeam=' + url + '&idCompeti=' + value;
                            }
                        });
                    })

                    function deleteTeam(id) {
                        var idNew = id
                        var team = $('#allTeams').val();
                        var idCompet = $('#allCompetitions').val();
                        location.href = '@Url.Action("DeleteTeam", "Players")?idOldTeam=' + idNew + '&idTeam=' + team + '&idCompeti=' + idCompet;
                    };
    </script>
}


