@model AdminView.Models.LoginModel

@using (Html.BeginForm("Login", "Stats", FormMethod.Post))
{
    <div class="form-horizontal col-md-12">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.InitialDate, htmlAttributes: new { @class = "col-md-12" })
            @Html.TextBoxFor(model => model.InitialDate, htmlAttributes : new { @class = "form-control col-md-12" , type = "date" })
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.FinalDate, htmlAttributes: new { @class = "col-md-12" })
            @Html.TextBoxFor(model => model.FinalDate, htmlAttributes: new { @class = "form-control col-md-12", type = "date" })
        </div>
        <div class="form-group col-md-4">
            <input class="btn btn-default col-md-2" type="submit" value="Filtrar" />
        </div>
    </div>
}

<div class="clearfix"></div>

<script type="text/javascript" src="../../Scripts/chartjs/Chart.bundle.min.js"></script>

<div class="col-md-offset-2 col-md-8"><canvas id="myChart"></canvas></div>
           

<script>
    var ctx = document.getElementById("myChart").getContext('2d');

    var label_stat = @Html.Raw(Json.Encode(Model.Label));
    var label_stat_format = label_stat.replace("[", "").replace("]", "")

    var data_stat = @Html.Raw(Json.Encode(Model.Data));
    var data_stat_format = data_stat.replace("[", "").replace("]", "")


    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: label_stat_format.split(","),
            datasets: [{
                label: 'number of login',
                data: data_stat_format.split(","),
                backgroundColor: 'rgba(213, 215, 216, 1)',
                borderColor: 'rgba(87, 93, 99, 1)',
                pointBorderColor: "#fff",
                pointBackgroundColor: "rgba(179,181,198,1)",
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });

</script>