@model IEnumerable<AdminView.Models.PostModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalOdd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Likeit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Report)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stake)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalOdd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Likeit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Report)
        </td>
        <td>
            <a href="@Url.Action("PostDetalles", "Stats", new { id=item.Id })" class="fa fa-plus fa-fw"></a>
        </td>
    </tr>
}
</table>
