@using AdminView.Resources

<ul class="breadcrumb">
    <li>@Html.ActionLink(@textos.Sport, "Sports", "Sports")</li>
</ul>

<table class="table table-striped">
    <tr>
        <th>
            @textos.Name
        </th>
        <th>
            @textos.Image
        </th>
        <th>
            @textos.Actions
        </th>
    </tr>
    @foreach (var item in ViewBag.allSports)
    {
        <tr>
            <td>
                @Html.ActionLink((string)item.Name, "TypeCompetition", "TypeCompetition", new { idSport = item.Id }, null)
            </td>
            <td>
                <img src=@item.Image height="40" width="40" />
            </td>
            <td>
                <a href="@Url.Action("Edit", "Sports", new { idSport=item.Id })" class="fa fa-pencil fa-fw"></a>
            </td>
        </tr>
    }
</table>
