@model IEnumerable<PickadosGenNHibernate.EN.Pickados.RequestEN>

@helper DateOfChange(string message, DateTime? date)
{
if (date == null)
{
    Html.Raw(message + "No resuelto");
}
else
{
    if (date.Value.Year < 2000)
    {
            @Html.Raw(message + "No resuelto");
    }
    else
    {
            @Html.Raw(message + date.ToString());
        }
    }
}

@{
    ViewBag.Title = "Index";
}

<h2>Solicitudes pendientes</h2>

<!--<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Reason)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Date)*@
        </th>
        <th></th>
    </tr>
       -->
<!--<div class="row">
    <div class="col-md-8">
        @foreach (var item in Model)
        {

            <!--
                <tr>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Reason)*@
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Date)*@
                    </td>
                    <td>
                        @*@Html.ActionLink("Accept", "Accept", new { id = item.Id }) |
                        @Html.ActionLink("Open review", "Review", new { id = item.Id }) |
                        @Html.ActionLink("Deny", "Delete", new { id = item.Id })*@
                    </td>
                </tr>
                -->

    @*if (@item.State.Equals("Open"))
        {*@
    <div class="panel panel-primary">
        @if (@item.Type.ToString().Equals("modify"))
        {
            <div class="panel-heading">@Html.DisplayFor(modelItem => item.Type)</div>
        }
        else
        {
            <div class="panel-warning">@Html.DisplayFor(modelItem => item.Type)</div>
        }

        <div class="panel-body">
            <div class="row">
                <div class="col-md-7">
                    <span class="fa fa-calendar"></span> Fecha solicitud: @Html.DisplayFor(modelItem => item.Date)<br />
                    <span class="fa fa-thumb-tack"></span>Razón: @Html.DisplayFor(modelItem => item.Reason)<br />
                    <span class="fa fa-list-alt"></span>@Html.ActionLink("Detalles del Post", "PostDetails", "Post", new { post = item.Post.Id }, null)<br />
                    <span class="fa fa-calendar"></span> Fecha último cambio: @DateOfChange(ViewBag.Message, item.ChangeDate).ToString()<br />
                    <span class="fa fa-thumb-tack"></span>Comentario del administrador:<br />
                    @Html.DisplayFor(modelItem => item.AdminComment)<br />
                </div>
                <div class="col-md-5">
                    <!--<a href="javascript:void(0);" class="anchorDetail btn btn-outline btn-success" data-id="@item.Id" data-content="Aceptar">Aceptar</a> |
                    <a href="javascript:void(0);" class="anchorDetail btn btn-outline btn-danger" data-id="@item.Id" data-content="Denegar">Denegar</a> |-->
                    <a href="javascript:void(0);" class="anchorDetail btn btn-outline btn-warning" data-id="@item.Id" data-content="Revisar">Revisar</a><br /><br />
                </div>

            </div>
        </div>

    </div>
                @*}*@
                @*else
                    {*@
                <!--<div class="panel panel-primary" )">
                        <div class="panel-heading">Modificación</div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <span class="fa fa-calendar"></span> Fecha solicitud: @*@Html.DisplayFor(modelItem => item.Date)*@<br />
                                    <span class="fa fa-calendar"></span> Inicio evento: @*@Html.DisplayFor(modelItem => item.Date)*@<br />
                                    <span class="fa fa-clock-o"></span> Evento: <br />
                                    <span class="fa fa-thumb-tack"></span>Razón: @*@Html.DisplayFor(modelItem => item.Reason)*@
                                </div>
                                <div class="col-md-5">
                                    @*@Html.ActionLink("Aceptar", "Accept", new { id = item.Id }, new { @class = "btn btn-outline btn-success" }) |
                                    @Html.ActionLink("Abrir disputa", "Review", new { id = item.Id }, new { @class = "btn btn-outline btn-info" }) |
                                    @Html.ActionLink("Denegar", "Delete", new { id = item.Id }, new { @class = "btn btn-outline btn-danger" })*@
                                </div>

                            </div>
                        </div>

                    </div>
                }-->
}
<!--</div>
</div>-->
<!--</table>-->
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>

    var TeamDetailPostBackURL = '/Request/AddComment';
    $(function () {
        $(".anchorDetail").click(function () {
            debugger;
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var content = $buttonClicked.attr('data-content');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "id": id, "content": content },
                datatype: "json",
                success: function (data) {
                    debugger;
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });
        //$("#closebtn").on('click',function(){
        //    $('#myModal').modal('hide');

        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });
    });

</script>

