@model PickadosGenNHibernate.EN.Pickados.TeamEN

@{
    ViewBag.Title = "Details Team";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-2">
        @Html.DropDownList("allCompetitions", null, new { @class = "form-control", id = "allCompetitions", required = "required" })
        @Html.DropDownList("allTeams", null, new { @class = "form-control", id = "allTeams", required = "required" })
    </div>
    <div class="col-md-6">
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
        <br>
        <div class="col-md-6">
            @Html.DropDownList("allCompetis", null, new { @class = "form-control", id = "allCompetis", required = "required" })
        </div>
        <div class="col-md-4">
            <a class="addCompeti" href="#">Añadir</a>
        </div>
        <br><br><br>
        <table class="table table-striped">
            <tr>
                <th>
                    Competition Name
                </th>
                <th>
                    Actions
                </th>
            </tr>
            @foreach (var item in ViewBag.competiByTeam)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <input type="button" id="deleteCompet" value="Eliminar" onclick="deleteCompet('@(item.Id)')" />
                    </td>
                </tr>
            }
        </table>

        <!--<div>
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>-->
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $('.addCompeti').on('click', function () {
                var idNew = $('#allCompetis').val();
                var team = $('#allTeams').val();
                var idCompet = $('#allCompetitions').val();
                location.href = '@Url.Action("AddCompeti", "Teams")?idNewCompet=' + idNew + '&idTeam=' + team + '&idCompeti=' + idCompet;
            });

            $("#allCompetitions").change(function () {
                            var url = $(this).val();
                            if (url != null && url != '') {
                                location.href = '@Url.Action("DetailsCompetition", "Competitions")?id=' + url;
                            }
                        });

                        $("#allTeams").change(function () {
                            var url = $(this).val();
                            var value = document.getElementById("allCompetitions").value;
                            if (url != null && url != '') {
                                location.href = '@Url.Action("DetailsTeam", "Teams")?idTeam=' + url + '&idCompeti=' + value;
                            }
                        });
        });

        function deleteCompet(id) {
            var idNew = id
            var team = $('#allTeams').val();
            var idCompet = $('#allCompetitions').val();
            location.href = '@Url.Action("DeleteCompeti", "Teams")?idOldCompet=' + idNew + '&idTeam=' + team + '&idCompeti=' + idCompet;
        };
    </script>
}


