@using AdminView.Resources

<ul class="nav nav-tabs">
    <li>@Html.ActionLink(@textos.Calendar, "Calendar", "Calendar")</li>
    <li>@Html.ActionLink((string)ViewBag.sport.Name, "TypeCompetiCalendar", "TypeCompetiCalendar", new { idSport = ViewBag.sport.Id }, null)</li>
    <li>@Html.ActionLink((string)ViewBag.typeCompetition, "CountryCalendar", "CountryCalendar", new { idSport = ViewBag.sport.Id, typeCompetition = ViewBag.typeCompetition }, null)</li>
</ul>

<table class="table table-striped">
    <tr>
        <th>
            @textos.Name
        </th>
    </tr>
    @foreach (var item in ViewBag.allCountries)
    {
        <tr>
            <td>
                @Html.ActionLink((string)item, "CompetiCalendar", "CompetiCalendar", new { countryName = item, idSport = ViewBag.sport.Id, typeCompetition = ViewBag.typeCompetition }, null)
            </td>
        </tr>
    }
</table>