@model IEnumerable<AdminView.Models.PostModel>


<table id="posts" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
                <i class="fa fa-sort fa-fw" aria-hidden="true"></i>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stake)
                <i class="fa fa-sort fa-fw" aria-hidden="true"></i>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalOdd)
                <i class="fa fa-sort fa-fw" aria-hidden="true"></i>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Likeit)
                <i class="fa fa-sort fa-fw" aria-hidden="true"></i>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report)
                <i class="fa fa-sort fa-fw" aria-hidden="true"></i>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created_at)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modified_at)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stake)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalOdd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Likeit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Report)
                </td>
                <td>
                    <i class="fa fa-plus fa-fw" data-toggle="collapse" data-target="#@Html.DisplayFor(modelItem => item.Id)"></i>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $("#postlist_btn").on("click", function () {
            var i_date = $('#iDateList').val();
            var f_date = $('#fDateList').val();

            $.ajax({
                url: "/stats/_postlist",
                type: "post",
                data: {
                    iDate: i_date,
                    fDate: f_date
                },
                beforeSend: function () {
                    if (i_date != null && f_date != null)
                    {
                        var iDate = Date.parse(i_date);
                        var fDate = Date.parse(f_date);
                        var today = Date.parse(new Date());

                        if(iDate <= today && fDate <= today)
                            return true;
                    }

                    return false;
                }
            })
            .done(function (result) {
                $("#posts").html(result);
                $("#iDateList").val('');
                $("#fDateList").val('');
            });
        });
    });
</script>

@Scripts.Render("~/bundles/posts")