@model List<PickadosGenNHibernate.EN.Pickados.TipsterEN>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Locked)
        </td>
        <td>
            <a href="@Url.Action("Stats", "Stats", new { id=item.Id })" class="fa fa-bar-chart-o fa-fw"></a>
            <a href="@Url.Action("Edit", "User", new { id=item.Id })" class="fa fa-pencil fa-fw"></a>
            <a href="@Url.Action("Delete", "User", new { id=item.Id })" class="fa fa-trash-o fa-fw"></a>
        </td>
    </tr>
}
