@model List<PickadosGenNHibernate.EN.Pickados.AdminEN>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nif)
        </td>
        <td>
            <a href="@Url.Action("Edit", "User", new { id=item.Id })" class="fa fa-pencil fa-fw"></a>
            <a href="#" class="fa fa-trash-o fa-fw" data-toggle="modal" data-target="#deleteModal" data-alias="@Html.DisplayFor(modelItem => item.Alias)" data-id="@Html.DisplayFor(modelItem => item.Id)"></a>
        </td>
    </tr>
}
