@model IEnumerable<AdminView.Models.PostModel>

<table id="posts" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
                <i class="fa fa-sort fa-fw" aria-hidden="true"></i>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stake)
                <i class="fa fa-sort fa-fw" aria-hidden="true"></i>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalOdd)
                <i class="fa fa-sort fa-fw" aria-hidden="true"></i>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Likeit)
                <i class="fa fa-sort fa-fw" aria-hidden="true"></i>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report)
                <i class="fa fa-sort fa-fw" aria-hidden="true"></i>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created_at)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modified_at)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stake)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalOdd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Likeit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Report)
                </td>
                <td>
                    <i class="fa fa-plus fa-fw" data-toggle="collapse" data-target="#@Html.DisplayFor(modelItem => item.Id)"></i>
                </td>
            </tr>
            <tr id="@Html.DisplayFor(modelItem => item.Id)" class="collapse">
                @foreach (var pick in item.Picks)
                {
                    <td>@{Html.RenderAction("_pickdetalles", "stats", new { pick = pick });}</td>
                        }
            </tr>
                        }
    </tbody>
</table>

@Scripts.Render("~/bundles/posts")
