<ul class="nav nav-tabs">
    <li>@Html.ActionLink("Sports", "Sports", "Sports")</li>
    <li>@Html.ActionLink((string)ViewBag.sport.Name, "TypeCompetition", "TypeCompetition", new { idSport = ViewBag.sport.Id }, null)</li>
    <li>@Html.ActionLink((string)ViewBag.typeCompetition, "Country", "Country", new { idSport = ViewBag.sport.Id, typeCompetition = ViewBag.typeCompetition }, null)</li>
    <li>@Html.ActionLink((string)ViewBag.country, "Competitions", "Competitions", new { countryName = ViewBag.country, idSport = ViewBag.sport.Id, typeCompetition = ViewBag.typeCompetition }, null)</li>
</ul>

<table class="table table-striped">
    <tr>
        <th>
            Name
        </th>
        <th>
            Actions
        </th>
    </tr>
    @foreach (var item in ViewBag.allCompetitions)
    {
        <tr>
            <td>
                @Html.ActionLink((string)item.Name, "Teams", "Teams", new { idCompetition = item.Id, countryName = ViewBag.country, idSport = ViewBag.sport.Id, typeCompetition = ViewBag.typeCompetition }, null)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Competitions", new { countryName = ViewBag.country, idSport=ViewBag.sport.Id, idCompetition = item.Id,  typeCompetition = ViewBag.typeCompetition })" class="fa fa-pencil fa-fw"></a>
            </td>
        </tr>
    }
</table>
